<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{>header_links}}
</head>
<body>
    {{>navbar}}
    <h1>Hy! how are you?</h1>
    <a href="./login" class="btn btn-primary">login</a>
    <a href="./register" class="btn btn-primary">Register</a>
    {{>scripts}}
</body>
</html>